html,
body {
    height: 100%;
    font-family: 'Montserrat',
        sans-serif;
    scroll-behavior: smooth;
    margin: 0%;
}

.navbar {
    text-align: center;
    text-transform: uppercase;

}


.full-section {
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("/img/landing2.png");
    background-size: cover;
}

#welcome-ruzyan {
    padding-top: 13rem;
    font-size: 1.5rem;
    padding-left: 5rem;
}

@media only screen and (min-width: 450px) {
    .full-section {
        height: 100%;
        background-repeat: no-repeat;
        background-image: url("/img/lglanding.png");
        background-size: cover;


    }

}