html,
body {
    height: 100%;
    font-family: 'Montserrat',
        sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    text-align: center;
    text-transform: uppercase;

}

.container {
    height: 100%;
}

#landing-image {
    height: inherit;
}

.full-section {
    height: 100%;
}