html,
body {
	height: 100%;
	font-family: "Montserrat", sans-serif;
	scroll-behavior: smooth;
	margin: 0%;
	background-color: beige;
}

.navbar {
	text-align: center;
	text-transform: uppercase;
	-webkit-box-shadow: 0 8px 6px -8px #999;
	-moz-box-shadow: 0 8px 6px -8px #999;
	box-shadow: 0 8px 6px -8px #999;
}

.full-section {
	height: 100%;
	background-repeat: no-repeat;
	background-image: url("/img/landing2.png");
	background-size: cover;
}

#welcome-ruzyan {
	padding-top: 13rem;
	font-size: 1.5rem;
	padding-left: 0.2rem;
}

.dropdown-menu.fade {
	display: block;
	opacity: 0;
	pointer-events: none;
}

.show>.dropdown-menu.fade {
	pointer-events: auto;
	opacity: 1;
}


.button {
	border-radius: 1rem;
	background-color: black;
	border: none;
	color: #ffffff;
	text-align: center;
	font-size: 0.9rem;
	padding: 0.7rem;
	width: auto;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: sticky;
	transition: 0.5s;
}

.button span::after {
	content: "\02C5";
	position: absolute;
	opacity: 0;
	top: 0;
	bottom: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 20px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

#bridal {
	height: 100%;
}

#contact {
	height: 100%;
}

#cat {
	padding-top: 5rem;
}



#landing-logo {
	width: 14rem;
	height: 4.5rem;
	margin-bottom: 0%;
}

#cont {
	padding-top: 12rem;
}

#tag-line {
	margin-top: 0%;
	padding-left: 7rem;
	font-size: 1rem;
	font-family: 'Pinyon Script',
		cursive;
}

.navbar-toggler-icon {
	color: #000;
}

#ads {
	margin: 30px 0 30px 0;

}



#ads .card-detail-badge {
	background: #1e1717;
	text-align: center;
	border-radius: 30px 30px 30px 30px;
	color: #ffffff;
	padding: 5px 10px;
	font-size: 14px;
	margin-top: 1rem;
}



#ads .card:hover {
	background: #fff;
	box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
	border-radius: 4px;
	transition: all 0.3s ease;
}

#ads .card-image-overlay {
	font-size: 20px;

}


#ads .card-image-overlay span {
	display: inline-block;
}


#ads .ad-btn {
	text-transform: uppercase;
	width: 150px;
	height: 40px;
	border-radius: 80px;
	font-size: 16px;
	line-height: 35px;
	text-align: center;
	border: 3px solid black;
	display: block;
	text-decoration: none;
	margin: 20px auto 1px auto;
	color: #ffffff;
	overflow: hidden;
	position: relative;
	background-color: black;
}

#ads .ad-btn:hover {
	background-color: black;
	color: #1e1717;
	border: 2px solid black;
	background: transparent;
	transition: all 0.3s ease;
	box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

#ads .ad-title h5 {
	text-transform: uppercase;
	font-size: 18px;
}

#OW {
	padding-top: 4rem;
	padding-left: 5rem;
}

.card {
	margin-bottom: 1.5rem;
}

#bridal-couture {
	padding-top: 5rem;
	padding-left: 3rem;
}

@media only screen and (min-width: 420px) {
	.full-section {
		height: 100%;
		background-repeat: no-repeat;
		background-image: url("/img/lglanding.png");
		background-size: cover;

	}

	#tag-line {
		margin-top: 0%;
		padding-left: 7rem;
		font-size: 1.5rem;
		font-weight: normal;
		font-family: 'Pinyon Script',
			cursive;
	}
}